<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ph.flockledger.app" android:versionCode="1" android:versionName="1.0.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34"/>
  <application android:icon="@drawable/ic_launcher" android:label="Flock Ledger" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="false" android:debuggable="false" android:hardwareAccelerated="true">
    <activity android:name="ph.flockledger.app.MainActivity" android:exported="true" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
